<a href="https://colab.research.google.com/github/atripath955/a_tripathy/blob/main/5_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Series

In [ ]:
s=['a','b','c','d']
s

In [ ]:
pd.Series(s)

In [ ]:
snacks = ['pizza','burger','shawarma','franky','sandwitch']
snacks

In [ ]:
pd.Series(snacks)

In [ ]:
days=['Monday','Tuesday','Wednesday','Thursday','Firday']
days

In [ ]:
pd.Series(data=snacks,index=days)

In [ ]:
a=np.array([10,20,30,40,50])
a

In [ ]:
print(a)

In [ ]:
pd.Series(a)

In [ ]:
dict={'a':10,'b':20,'c':30,'d':40}
dict

In [ ]:
pd.Series(dict)

# Numpy

In [ ]:
a=np.array([(1,2,3,4),(4,5,6,7)])
a

In [ ]:
print(a.size)

In [ ]:
print(a.shape)

In [ ]:
a= a.reshape(4,2)

In [ ]:
print(a)

In [ ]:
a=np.array([(1,2,3,4),(4,5,6,7)])

In [ ]:
a[0,2] ## Accessing values

In [ ]:
a=np.array([1,2,3,4])
print(a)

In [ ]:
a.min()

In [ ]:
a.max()

In [ ]:
a.sum()

In [ ]:
a=np.array([(1,2,3,4),(4,5,6,7)])
a

In [ ]:
a.sum(axis=0)

In [ ]:
a.sum(axis=1)

## Duplicates

In [ ]:
dup=DataFrame({'col1':['A','A','B','B','B'],'col2':[2,2,2,3,3]})

In [ ]:
dup

In [ ]:
dup.duplicated()

In [ ]:
dup.drop_duplicates()

## Group By

In [ ]:
import pandas as pd
df = pd.read_csv('Salaries.csv')

In [ ]:
df

         rank discipline  phd  service     sex  salary
0        Prof          B   56       49    Male  186960
1        Prof          A   12        6    Male   93000
2        Prof          A   23       20    Male  110515
3        Prof          A   40       31    Male  131205
4        Prof          B   20       18    Male  104800
..        ...        ...  ...      ...     ...     ...
73       Prof          B   18       10  Female  105450
74  AssocProf          B   19        6  Female  104542
75       Prof          B   17       17  Female  124312
76       Prof          A   28       14  Female  109954
77       Prof          A   23       15  Female  109646

[78 rows x 6 columns]

In [ ]:
df.columns

Index(['rank', 'discipline', 'phd', 'service', 'sex', 'salary'], dtype='object')

In [ ]:
df.head()

In [ ]:
df.dtypes

In [ ]:
df.tail()

In [ ]:
df.describe()

In [ ]:
df.max()

In [ ]:
df.min()

In [ ]:
df.mean()

In [ ]:
df.discipline.value_counts()

B    42
A    36
Name: discipline, dtype: int64

In [ ]:
df.salary

0     186960
1      93000
2     110515
3     131205
4     104800
       ...
73    105450
74    104542
75    124312
76    109954
77    109646
Name: salary, Length: 78, dtype: int64

In [ ]:
df.phd.describe()

count    78.000000
mean     19.705128
std      12.498425
min       1.000000
25%      10.250000
50%      18.500000
75%      27.750000
max      56.000000
Name: phd, dtype: float64

In [ ]:
df.phd.count()

78

In [ ]:
df.phd.mean()

19.705128205128204

In [ ]:
df.groupby(['rank']).mean()

                 phd    service         salary
rank
AssocProf  15.076923  11.307692   91786.230769
AsstProf    5.052632   2.210526   81362.789474
Prof       27.065217  21.413043  123624.804348

In [ ]:
df.groupby('rank')[['salary','phd']].mean()

In [ ]:
df[df.salary>120000]

In [ ]:
df.iloc[1:4, 0:3]

In [ ]:
df.iloc[0:10,0:3]

In [ ]:
df.iloc[0:2,]

In [ ]:
df.iloc[:,4]

## Distribution plots

In [ ]:
import warnings
warnings.filterwarnings('ignore')

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df1 = pd.read_csv('Universities.csv')

In [ ]:
plt.hist(df1['Accept'])

In [ ]:
sns.distplot(df1['Top10'])

In [ ]:
sns.scatterplot(x='SAT',y='Accept',data=df1)

In [ ]:
sns.pairplot(df1)

In [ ]:
df1.skew()

In [ ]:
df1.kurt()

In [ ]:
plt.boxplot(df1["SAT"],vert = True)